<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Techaholics"
        tools:targetApi="31">
        <activity
            android:name=".complete_create_packages"
            android:exported="false" />
        <activity
            android:name=".save_discount"
            android:exported="false" />
        <activity
            android:name=".choose_page"
            android:exported="false" />
        <activity
            android:name=".time_salary"
            android:exported="false" />
        <activity
            android:name=".check"
            android:exported="false" />
        <activity
            android:name=".client_forjob"
            android:exported="false" />
        <activity
            android:name=".main_client_page"
            android:exported="false" />
        <activity
            android:name=".message_correctform"
            android:exported="false" />
        <activity
            android:name=".add_form"
            android:exported="false" />
        <activity
            android:name=".create_speak"
            android:exported="false" />
        <activity
            android:name=".select_wage_speak_place"
            android:exported="false" />
        <activity
            android:name=".new_tech_location2_place2"
            android:exported="false" />
        <activity
            android:name=".new_tech_location2_place1"
            android:exported="false" />
        <activity
            android:name=".list_dates"
            android:exported="false" />
        <activity
            android:name=".new_tech_location2"
            android:exported="false" />
        <activity
            android:name=".new_tech_location1_place2"
            android:exported="false" />
        <activity
            android:name=".new_tech_location1_place1"
            android:exported="false" />
        <activity
            android:name=".new_tech_location1"
            android:exported="false" />
        <activity
            android:name=".place_numofpeople"
            android:exported="false" />
        <activity
            android:name=".form_of_speak"
            android:exported="false" />
        <activity
            android:name=".location_address_map"
            android:exported="false" />
        <activity
            android:name=".current_details"
            android:exported="false" />
        <activity
            android:name=".orders_first_near_distributor"
            android:exported="false" />
        <activity
            android:name=".offers"
            android:exported="false" />
        <activity
            android:name=".existing_orders"
            android:exported="false" />
        <activity
            android:name=".complete_supply"
            android:exported="false" />
        <activity
            android:name=".create_order"
            android:exported="false" />
        <activity
            android:name=".add_to_bucket"
            android:exported="false" />
        <activity
            android:name=".product"
            android:exported="false" />
        <activity
            android:name=".number_of_products2"
            android:exported="false" />
        <activity
            android:name=".number_of_products"
            android:exported="false" />
        <activity
            android:name=".product_supply"
            android:exported="false" />
        <activity
            android:name=".electronic_wallet_empl"
            android:exported="false" />
        <activity
            android:name=".list_employee_numsell"
            android:exported="false" />
        <activity
            android:name=".post"
            android:exported="false" />
        <activity
            android:name=".select_employee"
            android:exported="false" />
        <activity
            android:name=".list_employee_avail"
            android:exported="false" />
        <activity
            android:name=".message_of_amount"
            android:exported="false" />
        <activity
            android:name=".personal_data_descr"
            android:exported="false" />
        <activity
            android:name=".complete_evaluation"
            android:exported="false" />
        <activity
            android:name=".form_evaluation"
            android:exported="false" />
        <activity
            android:name=".product_rate"
            android:exported="false" />
        <activity
            android:name=".rating"
            android:exported="false" />
        <activity
            android:name=".eval_help"
            android:exported="false" />
        <activity
            android:name=".success_solut"
            android:exported="false" />
        <activity
            android:name=".technical_support_huawei"
            android:exported="false" />
        <activity
            android:name=".technical_support_mi"
            android:exported="false" />
        <activity
            android:name=".technical_support_iphone"
            android:exported="false" />
        <activity
            android:name=".type_problem"
            android:exported="false" />
        <activity
            android:name=".technical_support_samsung"
            android:exported="false" />
        <activity
            android:name=".technical_support_ps5"
            android:exported="false" />
        <activity
            android:name=".device_technical_problem"
            android:exported="false" />
        <activity
            android:name=".compl_inform"
            android:exported="false" />
        <activity
            android:name=".rating_product"
            android:exported="false" />
        <activity
            android:name=".page_product"
            android:exported="false" />
        <activity
            android:name=".menu_delivery"
            android:exported="false" />
        <activity
            android:name=".menu_client"
            android:exported="false" />
        <activity
            android:name=".menu_shop"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>