<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Techaholics"
        tools:targetApi="31">
        <activity
            android:name=".supplier_products2"
            android:exported="false" />
        <activity
            android:name=".supplier_products"
            android:exported="false" />
        <activity
            android:name=".supplier"
            android:exported="false" />
        <activity
            android:name=".message_money"
            android:exported="false" />
        <activity
            android:name=".list_employee"
            android:exported="false" />
        <activity
            android:name=".select_post"
            android:exported="false" />
        <activity
            android:name=".select_employee"
            android:exported="false" />
        <activity
            android:name=".work_coordination"
            android:exported="false" />
        <activity
            android:name=".message_reproduct"
            android:exported="false" />
        <activity
            android:name=".resale_product"
            android:exported="false" />
        <activity
            android:name=".message_ratecode"
            android:exported="false" />
        <activity
            android:name=".page_rate"
            android:exported="false" />
        <activity
            android:name=".product_rate"
            android:exported="false" />
        <activity
            android:name=".rating"
            android:exported="false" />
        <activity
            android:name=".technical_support_submit_rating"
            android:exported="false" />
        <activity
            android:name=".technical_support_helpful_yes"
            android:exported="false" />
        <activity
            android:name=".technical_support_huawei"
            android:exported="false" />
        <activity
            android:name=".technical_support_mi"
            android:exported="false" />
        <activity
            android:name=".technical_support_iphone"
            android:exported="false" />
        <activity
            android:name=".technical_support"
            android:exported="false" />
        <activity
            android:name=".technical_support_samsung"
            android:exported="false" />
        <activity
            android:name=".technical_support_ps5"
            android:exported="false" />
        <activity
            android:name=".device_technical_problem"
            android:exported="false" />
        <activity
            android:name=".choose_payment_method"
            android:exported="false" />
        <activity
            android:name=".rating_product"
            android:exported="false" />
        <activity
            android:name=".create_order"
            android:exported="false" />
        <activity
            android:name=".menu_delivery"
            android:exported="false" />
        <activity
            android:name=".menu_client"
            android:exported="false" />
        <activity
            android:name=".menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>